body
{
      font-family: sans-serif;
}

/*.container{
    position: relative;
}*/

#sideHeader
{

}

.menu
{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0 0 0;
}

.text-block {
    position: absolute;
    bottom: 20px;
    color: white;    
}

.haederSize
{
  font-size: 2.5rem;
}


/* header */
.header-btn-red {
   color: #e03e3e;
   font-weight:bold;
   border: 0.5px solid #e03e3e;    border-radius: 7px;
   font-size: 1.3rem;
}

.border-box
{
  width:100%; border: 2px solid #0074C8; margin-bottom: 3%;
}

/*.header2
{
    background-color: darkblue;
    color: white;
    align-content: center;
}
*/

.paddingTwo
{
  padding: 2%;
}

.headerTitle
{
  background-color: #0074C8;
  padding: 3%;
  height: 60px;
}

.headerLink
{
  text-decoration: none;
  color: white;
   font-size: 1.6rem;
}

.header-btn-green {
    color: white;
    font-weight: bold;
    border-radius: 6px;
    background-color: #85b510;
    font-size: 1.3rem;
 }
 .header-btn-search {
    background-color: #8390a0;
    color: white;
    border-radius: 5px;
    margin-left: 1%;
 }

 .search-box
 {
  padding: 0px !important;
    width: 30px;
    height: 30px;
    margin: 0px 0px 0px 5px;
 }

 .search-btn
 {
  display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    white-space: nowrap;
 }

 .text-right {
    text-align: right;
}

 .search-box {
    padding: 0px !important;
    width: 30px;
    height: 30px;
    margin: 0px 0px 0px 5px;
}

 .btn-green
 {
  color: white;
  background-color: #8DA941;
    border-color: #8DA941;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
    margin-left: 1%;
 }

.whiteColor
{
  color: #fff;
}

.btn-red
{
  text-transform: uppercase;
  font-size: 15px;
  line-height: 13px;
  color: #D33B27;
  background-color: transparent;
  border-color: #D33B27;
  margin-left: 1%;
}

.btn-red:hover
{
  background-color: grey;
  color: white;
  border-color: transparent;
}

.btn-green:hover
{
  background-color: grey;
  color: white;
  border-color: transparent;
}

 .TextJustify
 {
  text-align: justify;
 }

 .remove-padding{
  padding: 0px;
  margin: 0px;
 }

 .header-txt{
    color: darkblue;
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 25px;
 }
header .main-text{
    background-color: darkblue;
    padding: 6px;
}
/*@media only screen and (min-width: 600px) {
    .remove-padding{
        padding: 0px !important;
    }

}*/
.total_show{
    text-align: right
}

/* Style the header with a grey background and some padding */
.header {
    /*margin-bottom: 22%;*/
    overflow: hidden;
    background-color:white;
    /*padding-right: 2px;*/
  }
  .lbl-career a{
    color: #7f87a8;
    border-bottom: 2px solid #7f87a8;
    text-align: center;
    float: right;
    padding-top: 15px;
    margin-right: 5px;
    text-decoration: none;
    /*margin-bottom: 4px;*/
  }

.lbl-career a:hover{
   color: #24326f;
    border-bottom: 2px solid #24326f;
}



.Heading a
{
  color: #24326f;
  font-size: 12px;
  padding-bottom: 1%;
  padding-right: 2.8%;
  text-align: center;
  text-decoration: none;
    /*font-weight: bold;*/
}



.Heading a:hover
{
  color: #29356f;
  font-weight: bold;
  text-align: center;
  border-bottom:2px solid #29356f;
}

  /* Style the header links */
  /*.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 7px;
    line-height: 25px;
    border-radius: 4px;
  }*/

  /*div a 
  {
    float: left;
    color: black;
    /*padding: 4px;
    padding: 3px;
  }

  div a:hover{
    color: darkblue;
    border-spacing: 5px;
  }*/

  .footer-logo
  {
    padding-top:3%;
    padding-left: 3%;
    margin-top: 2%;
    margin-left: -22%;
    /*margin-right: 3%;*/
    /*margin-bottom: 2%;*/
  }

  .main-menu a:hover .sb-menu
  {
    display: block;
  }

  .sb-menu ul
  {
    position: absolute;
  }

  .sb-menu
  {
    display: none;
  }

  .paddingTop2
  {
    padding-top: 2%;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    float: right
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color:white;
    color: darkblue;
    text-align: center;
    border-spacing: 5px;
  }

   .sidenavHeader a {
    float: left;
    color: black;
    /*text-align: center;*/
    /*padding: 12px;*/
    /*text-decoration: none;*/
    font-size: 13px; 
    /*line-height: 25px;*/
    /*border-radius: 4px;*/
  }

  .sidenavHeader a:hover
  {
    background-color: white;
    color: darkblue;
    /*text-align: center;*/
  }

  .slidenavHeader a.active
  {
    color: darkblue;
  }
  
  /* Style the active/current link*/
  .header a.active {
    /*background-color: dodgerblue;*/
    color: darkblue;
  }
  
  /* Float the link section to the right */
  .header-right {
    /*float: right;*/
    margin-top: 7%;
    /*padding: 0.5%;*/
  }

  .header-left {
    float: left;
    margin-top: 2%;
    padding: 0.5%;
  }

header .inner-main-text{
    color: white;
    font-size: 20px;
    padding-top: 7px;
}
header .inner-sub-text{
    color: white;
    margin-top: 10px;
}



header
{
  margin-left: 1%;
  margin-right: 1%;
}

/* End Header */
hr {
    border: 0.5px solid darkblue;
}

.thick-border {
    border: 1px solid darkblue;
}

h4 {
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

h5 {
    color: darkblue;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.removeborder th, #removeborder td {
    color: darkblue;
    border: none;
    font-size: 10px !important;
}

#invoice th, #invoice td {
    color: darkblue;
    border: none;
    font-size: 14px;
}

.btns_btns {
    height: 25%;
    width: 45%;
    padding: 5px;
}

footer {
    background-color: darkblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /*padding: 20px 10px;*/
    /*padding-top: 2%;*/
}
.menu-seperator{
    color: darkblue;
    padding: 2px;
    font-size: 11px;
    font-weight: bold;
}

.footer-txt-menu{
    color: darkblue;
    font-size: 11px;
    font-weight: bold;
    margin-top: 0.5%;
    /*margin-bottom: 1%;*/
}

.bluecolor
{
  color: darkblue;
}

.headerMenuText
{
  color:black ;
  font-size: 15px;
  font-weight: bold;
}

.text-blue-center
{
  color: darkblue;
  text-align: center;
}
.text-decor-none
{
  text-decoration: none;
}

    footer hr {
        border: 0.5px solid white;
    }

.newsletter-form {
    padding-top: 6%;
}

    .newsletter-form p {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        border: 0.5px solid;
        padding: 5px;
    }

    .newsletter-form input[type=text] {
        padding: 6px;
        font-size: 14px;
        color: black;
    }

    .newsletter-form button {
        color: darkblue;
        padding: 5px;
        font-weight: bold;
        text-transform: uppercase;
    }

.pricing {
    margin: 20px,0px;
}

.fa {
    padding: 8px;
    font-size: 22px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 25px 2px;
}

    .fa:hover {
        opacity: 0.9;
    }

.fa-facebook {
    background: lightgray;
    color: darkblue;
}

.fa-linkedin {
    background: lightgray;
    color: darkblue;
}




.dropbtn {
    color: black;
    /*padding: 16px;*/
    font-size: 13px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    /*display: inline-block;*/
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    /*background-color: #f9f9f9;*/
    /*min-width: 160px;*/
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}

.dropdown-content a {
    color: black;
    /*padding: 12px 16px;*/
    /*text-decoration: none;*/
    display: block;
}

/*.dropdown-content a:hover {background-color: #f1f1f1;}*/
.dropdown:hover .dropdown-content {display: block;
}
.dropdown-content a:hover{
    color: darkblue;
}
.dropdown:hover .dropbtn {border-bottom: 1px solid darkblue;
color: darkblue;}


div.sticky {
  /*position: -webkit-sticky;*/
  /*position: sticky;*/
 /* top: 0;
  padding: 5px;
  background-color: #cae8ca;
  border: 2px solid #4CAF50;
  */
}

/*body
{
  position: relative;
}


*/


 .visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  .responsive-invisibility();
}
.visible-xs {
  @media (max-width: @screen-tablet) {
    .responsive-visibility();
  }
}
.visible-sm {
  @media (min-width: @screen-tablet) and (max-width: @screen-tablet-max) {
    .responsive-visibility();
  }
}
.visible-md {
  @media (min-width: @screen-desktop) and (max-width: @screen-desktop-max) {
    .responsive-visibility();
  }
}
.visible-lg {
  @media (min-width: @screen-large-desktop) {
    .responsive-visibility();
  }
}

.hidden-xs,
.hidden-sm,
.hidden-md,
.hidden-lg {
  .responsive-visibility();
}
.hidden-xs {
  @media (max-width: @screen-tablet) {
    .responsive-invisibility();
  }
}
.hidden-sm {
  @media (min-width: @screen-tablet) and (max-width: @screen-tablet-max) {
    .responsive-invisibility();
  }
}
.hidden-md {
  @media (min-width: @screen-desktop) and (max-width: @screen-desktop-max) {
    .responsive-invisibility();
  }
}
.hidden-lg {
  @media (min-width: @screen-large-desktop) {
    .responsive-invisibility();
  }
}

/*.carousel{
  max-height: 350px;
}*/

.carouselImg img {
  width: auto;
  height: 400px;
  max-height: 400px;
}

.carousel-inner > .item > img {
margin: 0; //If you have images of very different sizes.    
max-width: 100%; }


.carousel .item{
    min-height: 200px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
